<div id="<%= dom_id prodotto %>">
  <p>
    <strong>Nome:</strong>
    <%= prodotto.nome %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= prodotto.descrizione %>
  </p>

  <p>
    <strong>Data inserimento:</strong>
    <%= prodotto.data_inserimento %>
  </p>

  <p>
    <strong>Tipo prodotto:</strong>
    <%= prodotto.tipo_prodotto_id %>
  </p>

</div>
