<div id="<%= dom_id utente %>">
  <p>
    <strong>Username:</strong>
    <%= utente.username %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= utente.password_digest %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= utente.nome %>
  </p>

  <p>
    <strong>Cognome:</strong>
    <%= utente.cognome %>
  </p>

  <p>
    <strong>Data nascita:</strong>
    <%= utente.data_nascita %>
  </p>

</div>
